@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.sidebar {
  grid-row: span 2;
  font-weight: 600;
  font-size: 1.2rem;
  background: #38bdf8;
  color: white;
  padding: 5px 20px;
}

ul {
  list-style-type: none;
  display: grid;
  gap: 20px;
}

.menu {
  display: grid;
  gap: 15px;
}

.h_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20px;
  width: 60px;
  gap: 15px;
  font-size: 1.7rem;
  margin: 15px 0px 40px 0px;
}

.m_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20px;
  width: 60px;
  gap: 15px;
}

.header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: -100 -5px 5px -3px rgba(0, 0, 0, 0),
    0 -5px 5px -3px rgba(0, 0, 0, 0), inset 5px 0 5px -3px rgba(0, 0, 0, 0.5),
    inset 5px 0 5px -3px rgba(0, 0, 0, 0.5);
}

form {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 5px;
  padding: 20px;
}

form > button,
.profile > #bell {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

form > input {
  border-radius: 10px;
  padding: 3px 20px;
  background-color: lightgrey;
  border: 0px;
}

.profile {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 4fr;
  gap: 0px;
  align-items: top ;
}

#my_profile {
  border: 0px;
  width: 40px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 180px;
  
}

#my_profile img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
}

#my_profile h3 {
  width: auto;
  vertical-align: top;
  margin: 5px;
  font-size: 1rem;
}

.greeting{
  display: grid;
  grid-template-columns: 60px 1fr;
  padding: 0px 20px;
  gap: 15px;
}

.greeting img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
}

.greeting p, .greeting h3{
  margin: 3px;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.buttons button{
  color: white;
  background-color: #38bdf8;
  border: 0;
  border-radius: 20px;
  padding: 10px;
  width: 90px;
  height: 40px;

  
}

.workspace {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background: lightgray;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  padding: 10px 15px 30px 15px;
}

.workspace h3{
  margin: 3px;
}

.projects{
  grid-row: span 2;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}

.card{
  display: grid;
  background: linear-gradient(to right, orange 0 10px, white 10px);
  border-radius: 20px;
  grid-template-columns: 10px 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  height: 300px;
}

.card_field{
  grid-row: span 2;
  grid-column: 1;
}

.card_text{
  grid-row: 1;
  grid-column: span 2 / -1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
}

.card_text h4, .card_text p{
  margin: 10px;
}

.card_icons{
  grid-row: 2 / 3;
  grid-column: -1 / -2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 15px;
}

.projects, .announcements, .trending{
  display: grid;
  grid-template-rows: auto 1fr;
}

.right_card{
  background-color: white;
  border-radius: 20px;
}

.announcements>.right_card{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.topic{
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px;
  padding: 5px;
}

.topic h4 {
  margin-top: 30px;
  margin-bottom: 0;
}

.topic p{
  margin: 5px
}

.trending>.right_card{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

#account{
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 20px;
  padding: 5px 20px;
  height: 50px;
  background: rgba(0, 0, 0, 0);
  border: 0px;
}

.account_image{
  grid-column: 1;
  border-radius: 50%;
  border: solid 1px;
  height: 30px;
  width: 30px;
  vertical-align: bottom
}

.account_text{
  grid-column: 2;
  text-align: left;
}

.account_info h4, .account_info p{
  margin: 3px
}
